{% comment %}
    Template which generate the classes.html page (the classes index page) - The page has been updated for the new script
{% endcomment %}

<h2 class="page-header">Class Index</h2>

{%- assign alphabet = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" | split: ',' -%}
<div id="alphabet">
{%- for letter in alphabet -%}
    <a href="#letter{{ letter }}">{{ letter }}</a>&nbsp;
{% endfor %}
</div>

<div class="indexlist">
    {%- assign actual_index_letter = "" -%}
    {%- assign is_first_letter = true -%}

    {%- for class in classes_index -%}

    {%- assign current_class = class.short_name -%}
    {%- assign current_letter = current_class | truncate: 1, "" | upcase -%}

    {%- if actual_index_letter != current_letter -%}
    {%- assign actual_index_letter = current_letter -%}

    {%- if is_first_letter == false -%}
</div>
{% endif %}

{% assign is_first_letter = false %}

<div class="index_group">
    <h5 id="letter{{ actual_index_letter }}" class="page-header"><strong>{{ actual_index_letter }}</strong></h5>
    {% endif %}
    <a href="{{ class.url }}">{{ current_class }}</a>&nbsp;
    <br>
    {%- endfor -%}
</div>
