<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <select id="versions_dropdown">
            <optgroup label="Modules">
                {%- for compound in compounds -%}
                {%- if compound.kind == 'group' -%}
                <option value="module_{% increment count %}">{{ compound.sub_xml.compounddef[0].title }}</option>
                {%- endif -%}
                {%- endfor -%}
            </optgroup>
            <optgroup label="Namespaces">
                {%- for compound in compounds -%}
                {%- if compound.kind == 'namespace' -%}
                <option value="namespace_{% increment count2 %}">{{ compound.sub_xml.compounddef[0].compoundname }}
                </option>
                {%- endif -%}
                {%- endfor -%}
            </optgroup>
        </select>

        <ul id="categories">

            <li class="category module_0">Typesdef
                <ul>
                    <li>
                        <a class="element module_0">Truc</a>
                    </li>
                </ul>
            </li>

            {% for compound in compounds %}
            {%- if compound.kind == 'group' -%}
            {% if compound.sub_xml.compounddef[0].innerclass %}
            <li class="category open_me module_{% increment count3 %}">Classes
                <ul>
                    {%- for class in compound.sub_xml.compounddef[0].innerclass -%}
                    <li><a href="{{ class.refid }}.html" class="element module_{{ count3 | minus:1 }}">{{ class.content }}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
            {% endif %}

            {%- endif -%}
            {% endfor %}

        </ul>
    </ul>
</div>