<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Weider Guillaume">

    <title>{{ compound.name }} &mdash; Gamedev Framework (gf)</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/booxygen.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="main.html">Gamedev Framework (gf) 0.4.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="main.html">Main Page</a></li>
                <li><a href="documentation.html">Documentation</a></li>
                <li><a href="index.html">Index</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/GamedevFramework/gf">GitHub</a></li>
                <li><a href="https://www.reddit.com/r/GamedevFramework/">Reddit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <!-- ******************************************************************************************************* -->
        <div class="col-sm-3 col-md-2 sidebar topsidebar">
            <p>Modules</p>
            <ul class="list-group">
                {% for compound in compounds %}{% if compound.kind == 'group' %}
                <a href="#" class="list-group-item">{{ compound.sub_xml.compounddef[0].title }}</a>
                {% endif %}{% endfor %}
            </ul>
        </div>

        <div class="col-sm-3 col-md-2 sidebar bottomsidebar">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Classes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">TypeDef</a></li>
                    <li><a href="#">Enum</a></li>
                    <li><a href="#">etc...</a></li>
                </ul>
            </div>

            <ul class="list-group">
                {% for compound in compounds %}{% if compound.kind == 'group' %}
                {% for class in compound.sub_xml.compounddef[0].innerclass %}
                <a href="{{ class.refid }}.html" class="list-group-item">{{ class.content }}</a>
                {% endfor %}{% endif %}{% endfor %}
            </ul>
        </div>
        <!-- ******************************************************************************************************* -->


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">{{ compound.name }} Class Reference</h2>
            <ol class="breadcrumb">
                <li><a href="#">***</a></li>
                <li class="active">{{ compound.name }}</li>
            </ol>

            {% unless compound.sub_xml.compounddef[0].briefdescription.para.blank? or compound.sub_xml.compounddef[0].detaileddescription.para.blank? %}
            <h3>Description</h3>
            <p>{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}</p>
            <p>{{ compound.sub_xml.compounddef[0].detaileddescription[0].para }}</p>
            {% endunless %}

            {% for section in compound.sub_xml.compounddef[0].sectiondef %}
            {% unless section.kind contains 'private-' %}

            {% if section.kind == 'public-func' %}
            <h3>Public Member Functions</h3>
            {% else %}
            <h4>{{ section.header }}</h4>
            {% endif %}

            <table class="table">
                {% for memberdef in section.memberdef %}
                <tr>
                    <td>
                  {% assign type = memberdef.definition[0] | split: " " %}
                  {% for word in type %}
                      {% unless forloop.last == true %}
                          {{ word }}
                      {% endunless %}
                  {% endfor %}
                    </td>
                    <td><a href="#">{{ memberdef.name[0] }}</a> {{ memberdef.argsstring[0] }}
                        <br><span>{{ memberdef.briefdescription[0].para[0] }}</span></td>
                </tr>
                {% endfor %}
            </table>
            {% endunless %}
            {% endfor %}

            <!--<h3>Constructor and Destructor documentation</h3>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">gf::KeycodeKeyControl::KeycodeKeyControl (<a href="#"><b>KeyCode</b></a>
                        code)</h3>
                </div>
                <div class="panel-body">
                    <p>Construct a key control.</p>
                    <p><b>Parameters</b></p>
                    <p><span><strong>code</strong></span> The keycode of the key</p>
                </div>
            </div>

            <h3>Member Function</h3>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">virtual void gf::KeycodeKeyControl::processEvent (const <a
                            href="#"><b>Event</b></a> &event)</h3>
                </div>
                <div class="panel-body">
                    <p>Update the state of the control thanks to an event.</p>
                    <p><b>Parameters</b></p>
                    <p><span><strong>event</strong></span> The event to update the control</p>
                    <p><br><b>See also</b></p>
                    <p><a href="#">Action::processEvent</a></p>
                    <p>Implements <a href="#">gf::Control</a>.</p>
                </div>
            </div>-->

        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p>Generated by Booxygen</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
