<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Booxygen</title>
</head>

<body>

<h1>Booxygen example</h1>
<h2>Index page</h2><br>


<h3>Classes:</h3>
{% for compound in compounds %}
    {% if compound.kind == 'class' %}
        - {{ compound.sub_xml.compounddef[0].compoundname }}<br>
        Brief desc: {{ compound.sub_xml.compounddef[0].briefdescription[0].para }}<br>
        Full desc: {{ compound.sub_xml.compounddef[0].detaileddescription[0].para }}<br>

        {% for section in compound.sub_xml.compounddef[0].sectiondef %}
            {% if section.kind == 'user-defined' %}

                <br><strong>Section: </strong>
                {{ section.header }}<br>

                {% for section_member in section.memberdef %}
                    - {{ section_member.name }}<br>
                {% endfor %}

            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
{% endfor %}


<h3>Structs:</h3>
{% for compound in compounds %}
{% if compound.kind == 'struct' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}

<h3>Unions:</h3>
{% for compound in compounds %}
{% if compound.kind == 'union' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Interfaces:</h3>
{% for compound in compounds %}
{% if compound.kind == 'interface' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Protocoles:</h3>
{% for compound in compounds %}
{% if compound.kind == 'protocol' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Categories:</h3>
{% for compound in compounds %}
{% if compound.kind == 'category' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Exceptions:</h3>
{% for compound in compounds %}
{% if compound.kind == 'exception' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Files:</h3>
{% for compound in compounds %}
{% if compound.kind == 'file' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Namespaces:</h3>
{% for compound in compounds %}
{% if compound.kind == 'namespace' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Groups:</h3>
{% for compound in compounds %}
{% if compound.kind == 'group' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Pages:</h3>
{% for compound in compounds %}
{% if compound.kind == 'page' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Examples:</h3>
{% for compound in compounds %}
{% if compound.kind == 'example' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
<h3>Directories:</h3>
{% for compound in compounds %}
{% if compound.kind == 'dir' %}
- {{ compound.sub_xml.compounddef[0].compoundname }} <br>
{{ compound.sub_xml.compounddef[0].briefdescription[0].para }}
<br>
{% endif %}
{% endfor %}
</body>
</html>